@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <partial name="_ThemeCss" />

    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="~/lib/apexcharts/apexcharts.min.css" />
    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body class="m-0">
    <noscript>
        <div class="position-fixed text-center h-100 w-100 bg-black pt-5" style="z-index:300000000000000">
            <h1 class="text-danger">JavaScript Disabled</h1>
            <span class="text-muted">enable javascript and retry again.</span>
        </div>
    </noscript>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                <partial name="_Aside" />
                <div class="layout-page">
                    <partial name="_Header" />
                    <div class="content-wrapper">
                        <main role="main" class="pb-3">
                            <div class="container mt-5">
                                @RenderBody()
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @RenderBody()
    }
    @* Render Plugins *@
    <partial name="_Modal" />
    <span class="d-non" id="SuccessMessage">@TempData["SuccessMessage"]</span>

    @* Scripts *@
    <partial name="_ThemeScript" />
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/lib/apexcharts/apexcharts.min.js"></script>
    @await RenderSectionAsync("PluginScripts", required: false)

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
