<div class="modal-footer">
    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>

    <button type="submit" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
        Save changes
    </button>

</div>