@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Error @Model.StatusCode</h1>
    <h2 class="text-danger">@(string.IsNullOrEmpty(Model.ErrorMessage) ? "Occured ! Please try again." : Model.ErrorMessage)</h2>
</div>