@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner app-brand justify-content-center">
            <!-- Register -->
            <div class="card col-4">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <span class="app-brand-logo demo">
                            <img src="~/assets/images/logo_sm.png" width="100" height="100" />
                        </span>
                    </div>
                    <!-- /Logo -->
                    <p>Please press resend to confirm your email :</p>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-floating">
                            <input hidden asp-for="Input.Username" class="form-control" aria-required="true" />
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
                    </form>

                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
