@model ResetFormViewModel

<form asp-action="ResetPassword"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="OnModelBegin"
      data-ajax-success="OnModelSuccess"
      data-ajax-failure="OnModelFailure"
      data-ajax-complete="OnModelComplete">

    <div class="col">
        <div class="form-floating p-2 mb-3 col-sm-6">
            <input type="password" class=" form-control " asp-for="Password" placeholder="Password" />
            <label asp-for="Password">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-floating p-2 mb-3 col-sm-6">
            <input type="password" class=" form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" />
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <input asp-for="Id" type="hidden" />
    </div>
    <partial name="_ModalFooter" />
</form>